<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>OpenSky</title>

        <!--/*/ <th:block th:include="common/head :: head"></th:block> /*/-->
    </head>
    <body class="bg-dark text-white">
        <main class="container">
            <p class="h1 text-center"><a href="/">OpenSky</a></p>

            <!--/*/ <th:block th:include="fragments/search :: search"></th:block> /*/-->

            <h4 class="text-info mt-4" th:text="${msg}"></h4>
            <div th:if="${not #lists.isEmpty(flights)}">
                <h2>Flights List</h2>
                <table class="table mt-4">
                    <tr th:each="flight : ${flights}">
                        <td th:text="${flight}"></td>
                    </tr>
                </table>
            </div>
        </div>
        </main>
    </body>
</html>
