<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>OpenSky</title>

        <!--/*/ <th:block th:include="common/head :: head"></th:block> /*/-->
    </head>
    <body class="bg-dark text-white">
        <main class="container">
            <p class="h1 text-center mt-5">Portugal Flights</p>

            <!--/*/ <th:block th:include="fragments/search :: search"></th:block> /*/-->

            <div class="mt-3 mb-3">
                <div id="airports"></div>
                <div id="flights"></div>
            </div>
        </main>
    </body>
</html>
